# base packages
wheel
opencv-python>=4.5.4.60
numpy<1.20
requests
tqdm
vector
scipy

# extra realsense
pyrealsense2; platform_system == "Windows" or platform_system == "Linux"
pyrealsense2-macosx; platform_system == "Darwin"

# extra azure win,linux
pyk4a-bundle; platform_system == "Windows" or platform_system == "Linux"

# extra openvino
openvino>=2021.4.2

# extra mediapipe
mediapipe==0.8.9.1

# extra onnx
onnxruntime==1.10.0

# extra media
moviepy

# extra numba
numba