# base packages
wheel
opencv-python~=4.7.0
numpy<=1.22.4
requests
tqdm
vector~=1.0.0
scipy
filterpy

# extra realsense
pyrealsense2-macosx; platform_system == "Darwin"
pyrealsense2; platform_system != "Darwin"

# extra azure
pyk4a-bundle~=1.3.0.2; platform_system == "Windows" or platform_system == "Linux"

# extra openvino
openvino~=2023.0.1

# extra mediapipe
mediapipe~=0.10.0

# extra onnx
onnxruntime~=1.15.0

# extra onnx-gpu
onnxruntime~=1.15.0; platform_system == "Darwin"
onnxruntime-gpu~=1.15.0; platform_system != "Darwin"

# extra media
moviepy
vidgear[core]

# extra numba
numba

# extra fbs
pyopengl; platform_system == "Darwin" or platform_system == "Windows"
syphonpy; platform_system == "Darwin"
glfw; platform_system == "Darwin"
SpoutGL>=0.0.4; platform_system == "Windows"