# base packages
wheel
opencv-python
numpy<=1.22.4
requests
tqdm
vector>=0.10.0
scipy
filterpy

# extra realsense
pyrealsense2-macosx; platform_system == "Darwin"
pyrealsense2; platform_system != "Darwin"

# extra azure
pyk4a-bundle>=1.3.0.2; platform_system == "Windows" or platform_system == "Linux"

# extra openvino
openvino-arm==2022.1.0.1; platform_system == "Darwin" and platform.machine == "arm64"
openvino==2022.1.0; platform_system != "Darwin" and platform.machine != "arm64"

# extra mediapipe
mediapipe-silicon>=0.8.11; platform_system == "Darwin" and platform.machine == "arm64"
mediapipe>=0.8.11; platform_system != "Darwin" and platform.machine != "arm64"
protobuf>=3.11,<4

# extra onnx
onnxruntime>=1.12.0

# extra media
moviepy
vidgear[core]

# extra numba
numba

# extra opencv-contrib
opencv-contrib-python